.ant-loading {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.ant-loading span {
    border-radius: 50%;
    display: block;
    height: 80px;
    left: calc(50% - 40px);
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - 40px);
    transform: rotate(45deg);
    width: 80px;
    z-index: 99999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.ant-loading span:before,
.ant-loading span:after {
    border-radius: 50%;
    border: 14px solid transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.ant-loading span:before {
    animation: spot-circle 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    -webkit-animation: spot-circle 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    border-color: #552e62 #552e62 transparent #552e62;
    border-color: #fff #fff transparent #fff;
}

.ant-loading span:after {
    animation: spot-wave 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    -webkit-animation: spot-wave 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    border-color: #54bbab transparent transparent transparent;
    border-width: 15px;
}

@-webkit-keyframes spot-circle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    60% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spot-circle {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    60% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes spot-wave {
    0% {
        -webkit-transform: translate3d(0, 8px, 0) scale(0, 0);
        opacity: 0.3;
    }
    55% {
        -webkit-transform: translate3d(0, -8px, 0) scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, -32px, 0) scale(1.4, 1.4);
        opacity: 0;
    }
}
@keyframes spot-wave {
    0% {
        opacity: 0.3;
        transform: translate3d(0, 8px, 0) scale(0, 0);
        -webkit-transform: translate3d(0, 8px, 0) scale(0, 0);
        -moz-transform: translate3d(0, 8px, 0) scale(0, 0);
        -ms-transform: translate3d(0, 8px, 0) scale(0, 0);
        -o-transform: translate3d(0, 8px, 0) scale(0, 0);
    }
    55% {
        opacity: 1;
        transform: translate3d(0, -8px, 0) scale(1, 1);
        -webkit-transform: translate3d(0, -8px, 0) scale(1, 1);
        -moz-transform: translate3d(0, -8px, 0) scale(1, 1);
        -ms-transform: translate3d(0, -8px, 0) scale(1, 1);
        -o-transform: translate3d(0, -8px, 0) scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -32px, 0) scale(1.4, 1.4);
        -webkit-transform: translate3d(0, -32px, 0) scale(1.4, 1.4);
        -moz-transform: translate3d(0, -32px, 0) scale(1.4, 1.4);
        -ms-transform: translate3d(0, -32px, 0) scale(1.4, 1.4);
        -o-transform: translate3d(0, -32px, 0) scale(1.4, 1.4);
    }
}
